<% if params[:query].empty? 
    content_for :title, "Find Sri Lankan Jobs Fast Simple and Effective Way"
    else
    content_for :title, "All Sri Lankan jobs for #{params[:query].capitalize}"
    end
%>

            <div class="jumbotron home-tron-search well ">
                <div class="container">
                    <%= form_tag jobs_path, method: :get do %>
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="home-tron-search-inner">

                                <div class="row">

                                    <div class="col-sm-8 col-xs-9" style="text-align: center">
                                        <div class="row">

                                            <div class="col-sm-12 col-sm-offset-1">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-group-addon-text hidden-xs"></span>

                                                    <%= text_field_tag :query, params[:query], :class=> "form-control col-sm-3", :placeholder => 'e.g. Mechanical Engineer Full Time Colombo', :autofocus => true, :autocomplete => :off %>

                                                </div>

                                            </div>


                                        </div>
                                    </div>


                                    <div class="col-sm-4 col-xs-3" style="text-align: center">
                                        <div class="row">
                                            <div class="col-sm-11 pull-right">
                                                <%= button_tag(type: "submit", class: "btn btn-primary search-btn", name: nil ) do %>
                                                <i class=""></i>&nbsp;&nbsp;&nbsp;&nbsp;Search
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>





<div class="container">

    <br />
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="active"><%= @jobs.count %> Jobs found <%if params[:query].present?%> for <strong><%=params[:query]%> <%=params[:tags]%></strong> <%end %></li>
            </ol>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-4  hidden-xs">
            <div class="sidebar ">     
                    <% if false %>
                    <div class="row ">
                        <div class="col-sm-11">

                            <div class="panel panel-default">
                                <div class="panel-heading">Filters</div>
                                <div class="panel-body">
                                    <form class="form-inline mini" style="margin-bottom: 0px;">
                                        <fieldset>              

                                            <div class="row filter-row">
                                                <div class="col-sm-6">
                                                    <label>Age</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="col-sm-10 form-control ">
                                                        <option>Any</option>
                                                        <option>Alfa romeo</option>
                                                        <option>Houses</option>
                                                        <option>Flats/ Apartments</option>
                                                        <option>Bungalows</option>
                                                        <option>Land</option>
                                                        <option>Commercial property</option>
                                                        <option>Other</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row filter-row">    

                                                <div class="col-sm-2 pull-right" style="margin-top: 10px;">
                                                    <button class="btn btn-primary pull-right" type="submit">Update results</button>

                                                </div>
                                            </div>                      


                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row ">
                        <div class="col-sm-11">
                            <div class="panel panel-default">
                                <div class="panel-heading">Refine category</div>
                                <div class="panel-body">
                                    <ul class="nav nav-category">
                                        <li>
                                            <a class="active" href="category.html">All categories</a>
                                            <ul>
                                                <li><a href="listings.html">Cars, Vans & Motorbikes</a>
                                                <ul>
                                                    <li><a class="active" href="listings.html">Cars</a>
                                                        <ul>
                                                            <li><a class="active" href="listings.html"><strong>Porsche</strong></a> (66)<a href="#" class="remove-category"><i class="fa fa-times"></i></a></li>
                                                        </ul>
                                                    </li>

                                                </ul>
                                                    </li>
                                            </ul>
                                        </li>
                                    </ul>               

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row ">
                        <div class="col-sm-11">
                            <div class="panel panel-default">
                                <div class="panel-heading">Refine category</div>
                                <div class="panel-body">

                                    <div class="property">
                                        <a href="#AC+Cobra">AC Cobra</a>
                                    </div>
                                             
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>

                    <div class="row ">
                        <div class="col-sm-11">
                            <div class="panel panel-default">
                                <div class="panel-heading">Ads</div>
                                <div class="panel-body">
                                    
                                    <div class="well">
                                    <img src ="<%= asset_path 'cadsimg/dockers.jpg'%>" class="img-responsive">
                                    </div>   

                                </div>
                            </div>
                        </div>
                    </div>  
            </div> 
        </div>

        <div class="col-sm-8 pull-right listings">

            <div class="row listing-row" style="margin-top: -10px;">
                <div class="pull-left">
                    <strong>Today, <%= Time.now.strftime("%d %B, %Y") %></strong>
                </div>
                <div class="pull-right">
                    <strong>Job Posts</strong>
                </div>
            </div>

            <% @jobs.each do |job| %>
                <div class="row listing-row">
                    <% if false %>
                    <div class="col-sm-2">
                        <a href="details.html" class="thumbnail property_sold"  style="position:relative;"><img alt="176 * 120" src="css/images/listings/2.jpg"></a>
                    </div>
                    <% end %>

                    <div class="col-sm-12">
                        <%= link_to job_path(job) do %>
                        <h3><%= job.title %> <% end %><small>- Salary <%= job.salary.salaryrange %></small></h3>
                        
                        <p class="muted">Located in <strong><%= job.city.name %></strong> || Posted on <strong><%= job.created_at.strftime("%d %B, %Y") %></strong> || <strong><%= job.classification.name %></strong></p>
                        
                        
                        <p>
                            <span class="classified_links pull-right">
                                <% if user_signed_in? && current_user.isadmin == true %>
                                <%= link_to 'Destroy Post', job_path(job), method: :delete, :class=>"link-info underline", :style=>"color:#c0392b;", data: { confirm: 'Are you sure?' } %>&nbsp;
                                <%end%>
                                <%= link_to "View Job Ad", job_path(job), :class => "link-info underline" , :style => "color:#3498db;"%>&nbsp;
                            </span>
                        </p>

                        <p>
                            <strong class="classified_links pull-right">
                                <img src="<%= asset_path 'cadsimg/srilankan-jobs.png'%>" alt="<%= job.tags %>">
                            </strong>
                        </p>
                    </div>
                </div>
            <% end %>

            
            <div class="pagination pull-right">
               <%= will_paginate @jobs %>
            </div>

        </div><!-- col-sm-8 pull-right listings -->

    </div>
</div><!-- Modal -->


