<hr class="topbar"/>
<br /><br />


<div class="container well">
<% if flash[:notice] %>
<div style="text-align:center;">
<button class="btn btn-primary btn-sm" onclick="closeWin()">Job Application Sent &nbsp;&nbsp;&nbsp; Click to Close </button>
</div>
<% end %>       
<script>
var myWindow;

function closeWin()
{
window.close();
}
</script>
    <div class="row">
          <div class="col-md-12">

            <br />
            <h2 style="text-align:center; text-decoration:underline;"><%= @job.title.upcase %></h2>
            <%= image_tag(@job.adimage.url(:original), :style => "text-align:center;  margin: 0 auto;", :class => "img-responsive", :alt => "") %>
            <br /><br />

            <div style="text-align:center;">
            <%= link_to "Apply for this Job", new_job_job_application_path(@job), :class => "btn btn-primary", :target => '_blank' %><br /><br />
              <small><b>* Please make sure to read job selection criteria first and only apply for job if you geniunely meet selection criteria.</b></small>
             

              <% if user_signed_in? && current_user.isadmin == true %>
               </br>
              <small><b>See Application on this job at <%=root_url%>employer/link?utf8=✓&linkcode=<%=@job.employerlinkcode %> </b></small>
              <% end %>
            </div>


          </div>
    </div>

</div>

