<h1>Listing job_applications</h1>

<table>
  <tr>
    <th>Fullname</th>
    <th>Email</th>
    <th>Contactno</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @job_applications.each do |job_application| %>
  <tr>
    <td><%= job_application.fullname %></td>
    <td><%= job_application.email %></td>
    <td><%= job_application.contactno %></td>
    <td><%= link_to 'Show', [job_application.job, job_application] %></td>
    <td><%= link_to 'Edit', edit_job_job_application_path(job_application.job, job_application) %></td>
    <td><%= link_to 'Destroy', [job_application.job, job_application], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job application', new_job_job_application_path(params[:job_id]) %>
