
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="<%= root_url %>" class="navbar-brand ">
                        <span class="logo"><strong>lanka</strong><span class="handwriting">jobpost</span><br />
                            <small style="color:#34495e;">Fast Simple Effective</small></span>
                    </a>
                </div>



                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-right visible-xs">

                        <% if user_signed_in? %>
                        <li><%= link_to "Signed in as: #{current_user.email}" %></li> 
                        <% else %>
                        <li><%= link_to "Login", new_user_session_path %></li> 
                        <% end %>

                        <% if user_signed_in? %>
                        <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
                        <% else %>
                        <li><%= link_to 'Register', new_user_registration_path %></li>  
                        <% end %>
                        <li><%= link_to 'Post an ad', new_user_registration_path %></li>
                    </ul> 
                    <div class="nav navbar-nav navbar-right hidden-xs">
                        <div class="row">

                            <div class="pull-right">
                                <% if user_signed_in? %>
                                Signed in as: <b><%= current_user.email %> </b> |
                                <% else %>
                                <%= link_to "Login", new_user_session_path %> | 
                                <% end %>

                                <% if user_signed_in? %>
                                <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
                                <% else %>
                                <%= link_to 'Register', new_user_registration_path %>  
                                <% end %>

                                  
                                <%= link_to 'Post an ad', new_job_post_path, :class=>"btn btn-warning post-ad-btn" %>

                                
                            </div>	
                        </div>
                    </div>

                </div>
                
            </div>

        </nav>