<h1>Listing resumes</h1>

<table>
  <tr>
    <th>Fullname</th>
    <th>Email</th>
    <th>City</th>
    <th>Contact</th>
    <th>Resumetags</th>
    <th>Ischecked</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resumes.each do |resume| %>
  <tr>
    <td><%= resume.fullname %></td>
    <td><%= resume.email %></td>
    <td><%= resume.city %></td>
    <td><%= resume.contact %></td>
    <td><%= resume.resumetags %></td>
    <td><%= resume.ischecked %></td>
    <td><%= link_to 'Show', resume %></td>
    <td><%= link_to 'Edit', edit_resume_path(resume) %></td>
    <td><%= link_to 'Destroy', resume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resume', new_resume_path %>
