<!DOCTYPE html>
<html>
<head>
  		<meta charset="utf-8">
  		
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

		<title>LankaJobPost | <%= yield(:title) %></title>
		<meta name="description" content="Find Jobs in Sri Lanka, Jobs Listing, Career, Hire Talent, Finance, Human Resources, Employement, Information Technology, Overseas Jobs">
		<meta name="keywords" content="Lankajobpost, Sri Lanka Job, Job Portal, Employement, Careers, Information Technology, Human Resources">

		<!-- Use the correct meta names below for your web application
			 Ref: http://davidbcalhoun.com/2010/viewport-metatag 
			 
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">-->
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


		<!-- FAVICONS -->
		<link rel="shortcut icon" href="<%= asset_path 'cadsimg/favicon.ico' %>" type="image/x-icon">
		<link rel="icon" href="<%= asset_path 'cadsimg/favicon.ico' %>" type="image/x-icon">

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pathway+Gothic+One">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300&amp;subset=latin,cyrillic,greek">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico">


  <%= stylesheet_link_tag    "application", :media => "all" %>
<% if false %>
  <style type="text/css">
		  #dvLoading
		{
		   background: url(<%= asset_path 'cadsimg/fancybox_loading@2x.gif' %>) no-repeat center center;
		   height: 100px;
		   width: 100px;
		   position: fixed;
		   z-index: 1000;
		   left: 50%;
		   top: 50%;
		   margin: -25px 0 0 -25px;
		}
  </style>
<% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/headernav' %>
<%if false%>
<div id="dvLoading"></div>
<%end%>
<%= yield %>
<%= render 'shared/footer' %>


<%= javascript_include_tag "application" %>
<% if  Rails.env.production? %>
<%= render 'shared/ga' %>
<% end %>


		<%if false%>
		 <script type="text/javascript">$(window).load(function(){
		  $('#dvLoading').fadeOut(1000);
		});
		 </script>
		 <%end%>
</body>
</html>
